<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/LabinotGjoka/IdeaProjects/sdeta">
        <classes>
            <class name="com.sqa.academy.actions.TheUserShouldSeeAllThePetsInASpecificOrder">
<!--                <methods>-->
<!--                    <include name="petOrder"/>-->
<!--                </methods>-->
            </class>

            <class name="com.sqa.academy.actions.SDETA55.AddingToCartFromItemView"/>
            <class name="com.sqa.academy.actions.SDETA55.AddingToShoppingCartFromSpeciesView"/>
            <class name="com.sqa.academy.actions.SDETA55.CartRemoveButton"/>
            <class name="com.sqa.academy.actions.SDETA55.ItemsInCartAfterClosingBrowser"/>
            <class name="com.sqa.academy.actions.SDETA55.CartUpdateButton"/>
            <class name="com.sqa.academy.actions.SDETA55.ShoppingCartView"/>


        </classes>
    </test>
</suite>