<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Hello">
        <classes>
            <class name="com.sqa.academy.actions.SDETA51.TheUserShouldSeeAllThePetsInASpecificOrder">
<!--                <methods>-->
<!--                    <include name="petOrder"/>-->
<!--                </methods>-->
            </class>

            <class name="com.sqa.academy.actions.SDETA55.SDETA57"></class>
            <class name="com.sqa.academy.actions.SDETA55.SDETA60"></class>
            <class name="com.sqa.academy.actions.SDETA55.SDETA62"></class>
            <class name="com.sqa.academy.actions.SDETA55.SDETA69"></class>

        </classes>
    </test>
    <test name="LabinotGjoka" preserve-order="true" verbose="2">

    </test>
</suite>