<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/LabinotGjoka/IdeaProjects/sdeta">
        <classes>
            <class name="com.sqa.academy.actions.TheUserShouldSeeAllThePetsInASpecificOrder">
                <methods>
                    <include name="petOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>